<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658632820153-7l64cg5mqru7fmpp3l4jnudpjtu4iu2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658632820153-7l64cg5mqru7fmpp3l4jnudpjtu4iu2i</string>
	<key>API_KEY</key>
	<string>AIzaSyCwrmPhiyuQ31hcbkU_lWk_tdO9pxqLTBM</string>
	<key>GCM_SENDER_ID</key>
	<string>658632820153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasrancang</string>
	<key>PROJECT_ID</key>
	<string>flutterdemoapp-5b9c9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemoapp-5b9c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658632820153:ios:00b040542ee4fff2a36268</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemoapp-5b9c9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>